/* import Google fonts */
@import url(http://fonts.googleapis.com/css?family=News+Cycle|Lora|Julius+Sans+One);

p{
	font-family: 'News Cycle', sans-serif;
	color: #202020;
	text-align: center;

}

h1{
	font-family: 'Julius Sans One', 'Lora', sans-serif;
	color: #006699;
	text-align: center;
	line-height: 100px;
	text-transform: uppercase;
	}

body{
	background-color: #ededed;
	background-image: url('pics/grass.png');
	background-repeat: repeat;
	height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;

	}
	
.header{
	position: fixed;
	width: 100%; 
	height: 280px;
	text-align: center;
	background-image: url('pics/bg grass_pastel.png'); 
	background-repeat: repeat-x;

}	
.mainpage{
	position: relative;
	top: 280px;
	left: 10px;

	background-color: rgba(171, 221, 164, 0.70);

	box-shadow: 10px 10px 5px #777777;
	width: 75%;
	height: 800px;
	margin: 0px auto;
	padding: 2px;
	border: 2px solid grey;
	border-radius: 1em;
	z-index: 1;
	}

a{

	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Julius Sans One', sans-serif;
	font-color: white;

}
.menu-list{
	position: absolute;
	top: 290px;
	left: 10px;
	width: 12%;
	height: 300px;
/*	border: 2px solid black; */
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Julius Sans One', sans-serif;
	color: rgb(223, 247, 255);
	background-color: #006699;
	
	border-radius: 1em;
	opacity: .8;
}
.menu-list-item{
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Julius Sans One', sans-serif;
	color: rgb(223, 247, 255);
}

.menu-list-item a:hover, 
.menu-list-item a:visited,
.menu-list-item a:link,
.menu-list-item a:active{
	color: #ffffff;
	background-color: #ffffff;

};