/* import Google fonts */
@import url(http://fonts.googleapis.com/css?family=News+Cycle|Lora|Julius+Sans+One);

p{
	font-family: 'News Cycle', sans-serif;
	color: #202020;
	text-align: center;

}

h1{
	font-family: 'Lora', 'Julius Sans One', sans-serif;
	color: #006699;
	text-align: center;
	line-height: 100px;
	}

body{
	background-color: #ededed;
	background-image: url("pics/helo_cutout3.jpg");
	background-attachment: fixed;
	background-position: center; 
	background-repeat: no-repeat;
	}
	
#mainpage{
	background-color: #aaaaaa;
	opacity: 0.9;
	box-shadow: 10px 10px 5px #777777;
	width: 50%;
	height: 400px;
	margin: 0px auto;
	padding: 10px;
	border: 2px solid grey;
	border-radius: 2em;
	z-index: 1;
	}